<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <servlet>
    <servlet-name>DBManager</servlet-name>
    <!-- 下面这行是DBManager这个类的定位，“包名”替换为你在前面第4步中创建的包名，区分大小写！！！ -->
    <servlet-class>DBManager.DBManager</servlet-class>
    <init-param>
      <param-name>DBUsername</param-name>
      <!-- 这里是数据库用户名，一般情况下是root，无需改变 -->
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>DBPassword</param-name>
      <!-- 下面这两个标签中间写你的数据库密码，如果没设置就什么也别写，空格也不能有 -->
      <param-value>z001210123</param-value>
    </init-param>
    <init-param>
      <param-name>ConnectionURL</param-name>
      <!-- myfirstapp是《MySQL》博文中强调的数据库的名字 -->
      <param-value>jdbc:mysql://localhost:3306/mobile_inspection</param-value>
    </init-param>
    <!-- 下面这行很重要，指示服务器在启动时立即加载这个Servlet -->
    <load-on-startup>0</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DBManager</servlet-name>
    <url-pattern>/DBManager</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>
      30
    </session-timeout>
  </session-config>

</web-app>
